#response-img {
    height:100px;
    width:auto;
    position:relative;
}

#ball-circle {
    background-color:black;
    display:inline-block;
    border-radius:100000000000000000000000000000000000px;
    position:relative;
    width:500px;
    height:500px;
    z-index:-2;
}

#ball-inner-circle {
    background-color:rgb(37, 37, 37);
    display:inline-block;
    border-radius:100000000000000000000000000000000000px;
    position:relative;
    width:200px;
    height:200px;
    z-index:-1;
}

#response-text {
    color:white;
    font-weight:bold;
    font-size:20px;
}

html {
    overflow-x:hidden;
}