body {
    background-image:linear-gradient(purple 10%,white 60%,purple 30%);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#response-img {
    height:100px;
    width:auto;
    position:relative;
    margin: 0 auto;
}

#ball-circle {
    background-color:rgb(31, 31, 31);
    background-attachment:fixed;
    background-repeat:no-repeat;
    display:inline-block;
    border-radius:100000000000000000000000000000000000px;
    position:relative;
    width:500px;
    height:500px;
    z-index:-2;
}


#response-text {
    color:white;
    font-weight:bold;
    font-size:15px;
}

html {
    overflow-x:hidden;
}