body {
    background-image:url(imgs/background.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

#response-img {
    height:100px;
    width:auto;
    position:relative;
    margin: 0 auto;
}

.ball {
    background-image:url(imgs/ball.png);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    margin:0 auto;
}

h1 {
    color:white;
}
#greeting {
    color:white;
    font-size:30px;
}

#response-text {
    color:white;
    font-weight:bold;
    font-size:15px;
    background-color:black;
}

html {
    overflow-x:hidden;
    overflow-y:hidden;
}